{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ragdoll": "Ignore",
    "player": "Collide",
    "enemy": "Collide",
    "ghost": "Ignore",
    "wall": "Collide",
    "exit": "Collide"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "ragdoll",
      "b": "ragdoll"
    },
    {
      "a": "solid",
      "b": "ragdoll",
      "r": "Collide"
    },
    {
      "a": "ragdoll",
      "b": "player"
    },
    {
      "a": "ragdoll",
      "b": "enemy"
    },
    {
      "a": "player",
      "b": "player"
    },
    {
      "a": "player",
      "b": "enemy",
      "r": "Ignore"
    },
    {
      "a": "enemy",
      "b": "enemy",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "ragdoll"
    },
    {
      "a": "solid",
      "b": "ghost",
      "r": "Collide"
    },
    {
      "a": "ghost",
      "b": "wall",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "wall"
    },
    {
      "a": "ragdoll",
      "b": "wall",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "exit",
      "r": "Ignore"
    },
    {
      "a": "ragdoll",
      "b": "exit"
    },
    {
      "a": "ghost",
      "b": "exit",
      "r": "Collide"
    }
  ],
  "__guid": "ae9f48a4-c90f-42d4-9823-fa083ec6bfec",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}